1. BUSINESS UNDERSTANDING

This project is for an aviation company that is in the process of expanding into new industries. The principal business activities of the company are those of purchasing and operating airplanes for commercial and private enterprises; and is in the process of purchasing a new aircraft. What the new aviation division of the company does not understand is the potential risk associated with each plane they may aim to buy.

The purpose of this project is to ascertain the aircraft that provides the company with the minimum possible risk, and to result in actionable insights that will help the aviation division decide which aircraft to purchase.

2. DATA UNDERSTANDING

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df =pd.read_csv('flight.csv')

In [3]:
df #This is to see that the cde above has read the data correctly before starting anything else

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

In [5]:
df.describe()  #This is for descriptive statistics. Just trying to get a sneakpeak of some few characteristics of the data

        Unnamed: 0
count  2500.000000
mean    624.500000
std     360.915993
min       0.000000
25%     312.000000
50%     624.500000
75%     937.000000
max    1249.000000

In [6]:
df.isna().sum()
#This gives us the sum of instances in the dataset where the dataframe has missing information

Unnamed: 0     0
acc.date       0
type           0
reg           92
operator      14
fat           12
location       0
dmg            0
dtype: int64

In [7]:
df.isna().any() #This code mainly gives a different picture of the 'df.isna().sum()' code. Only that this shows only whether there is missing information
                #in a particular column but doesn't count the number of instances that that occurs

Unnamed: 0    False
acc.date      False
type          False
reg            True
operator       True
fat            True
location      False
dmg           False
dtype: bool

 The data is from a CSV file which comes from the National Transportation Safety Board of the United States through Kaggle. It contains data relating to aircraft accidents that have occurred between 2018 to 2022.The data has 2,500 entries over the mentioned period of time and encompasses data ranging from the accident date to the specific locations and the type of aircraft that was involved. For purposes of this analysis, the aircraft type, the accident dates, and the damages columns will be very relevant in coming up with a proper analysis that will lead to the company making an informed decision.
 The data is suitable for solving the real-world problem in question as it covers a long period of time, which makes it a good sample size to lead the aviation department of my company to make an informed decision.
 The National Transportation Safety Board is an independent body that is tasked with investigating main transportation accidents to reduce future incidents with the aim of making transportation safer. This makes the date more credible as it comes from a genuine source.

3. DATA PREPARATION

The purpose of this section is to prepare the data for analysis. This mainly includes cleaning the data to an extent that it's fit for analysis.

In [8]:
df.head()

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o

In [9]:
df['acc.date'].str.strip()
#This is to strip any extra space that is in the date column before converting all dates to the right formats

0           3 Jan 2022
1           4 Jan 2022
2           5 Jan 2022
3           8 Jan 2022
4          12 Jan 2022
             ...
2495       20 Dec 2018
2496       22 Dec 2018
2497       24 Dec 2018
2498       31 Dec 2018
2499    unk. date 2018
Name: acc.date, Length: 2500, dtype: object

In [10]:
df['acc.date'].unique() #This is meant to give a sneakpeak into the data to see if there are any data that is in incorrect formats

array(['3 Jan 2022', '4 Jan 2022', '5 Jan 2022', '8 Jan 2022',
       '12 Jan 2022', '16 Jan 2022', '19 Jan 2022', '22 Jan 2022',
       '27 Jan 2022', '31 Jan 2022', '2 Feb 2022', '5 Feb 2022',
       '7 Feb 2022', '8 Feb 2022', '11 Feb 2022', '14 Feb 2022',
       '15 Feb 2022', '16 Feb 2022', '18 Feb 2022', '21 Feb 2022',
       '23 Feb 2022', '24 Feb 2022', '26 Feb 2022', '27 Feb 2022',
       '28 Feb 2022', '1 Mar 2022', '2 Mar 2022', '3 Mar 2022',
       '5 Mar 2022', '6 Mar 2022', '7 Mar 2022', '8 Mar 2022',
       '9 Mar 2022', '12 Mar 2022', '17 Mar 2022', '21 Mar 2022',
       '26 Mar 2022', '30 Mar 2022', '1 Apr 2022', '2 Apr 2022',
       '7 Apr 2022', '8 Apr 2022', '11 Apr 2022', '13 Apr 2022',
       '14 Apr 2022', '17 Apr 2022', '22 Apr 2022', '26 Apr 2022',
       '30 Apr 2022', '1 May 2022', '3 May 2022', '6 May 2022',
       '10 May 2022', '11 May 2022', '12 May 2022', '20 May 2022',
       '21 May 2022', '24 May 2022', '25 May 2022', '27 May 2022',
       '28 May 2022', '29 May 2022', '2 Jun 2022', '3 Jun 2022',
       '4 Jun 2022', '7 Jun 2022', '10 Jun 2022', '13 Jun 2022',
       '15 Jun 2022', '16 Jun 2022', '17 Jun 2022', '21 Jun 2022',
       '22 Jun 2022', '24 Jun 2022', '25 Jun 2022', '26 Jun 2022',
       'xx Jun 2022', '1 Jul 2022', '13 Jul 2022', '15 Jul 2022',
       '16 Jul 2022', '18 Jul 2022', '20 Jul 2022', '21 Jul 2022',
       '22 Jul 2022', '24 Jul 2022', '25 Jul 2022', '27 Jul 2022',
       '28 Jul 2022', '29 Jul 2022', '30 Jul 2022', '5 Aug 2022',
       '6 Aug 2022', '7 Aug 2022', '15 Aug 2022', '17 Aug 2022',
       '19 Aug 2022', '20 Aug 2022', '29 Aug 2022', '30 Aug 2022',
       '31 Aug 2022', '1 Sep 2022', '2 Sep 2022', '3 Sep 2022',
       '4 Sep 2022', '7 Sep 2022', '9 Sep 2022', '10 Sep 2022',
       '15 Sep 2022', '19 Sep 2022', '20 Sep 2022', '21 Sep 2022',
       '22 Sep 2022', '24 Sep 2022', '25 Sep 2022', '27 Sep 2022',
       '28 Sep 2022', '29 Sep 2022', '1 Oct 2022', '3 Oct 2022',
       '5 Oct 2022', '12 Oct 2022', '13 Oct 2022', '16 Oct 2022',
       '18 Oct 2022', '19 Oct 2022', '22 Oct 2022', '23 Oct 2022',
       '25 Oct 2022', '27 Oct 2022', '28 Oct 2022', '2 Nov 2022',
       '3 Nov 2022', '6 Nov 2022', '7 Nov 2022', '9 Nov 2022',
       '10 Nov 2022', '12 Nov 2022', '14 Nov 2022', '15 Nov 2022',
       '17 Nov 2022', '18 Nov 2022', '19 Nov 2022', '20 Nov 2022',
       '25 Nov 2022', '28 Nov 2022', '29 Nov 2022', '30 Nov 2022',
       '1 Dec 2022', '3 Dec 2022', '7 Dec 2022', '8 Dec 2022',
       '15 Dec 2022', '17 Dec 2022', '18 Dec 2022', '22 Dec 2022',
       '23 Dec 2022', '24 Dec 2022', '26 Dec 2022', '27 Dec 2022',
       '30 Dec 2022', '31 Dec 2022', '2 Jan 2021', '9 Jan 2021',
       '12 Jan 2021', '17 Jan 2021', '19 Jan 2021', '23 Jan 2021',
       '24 Jan 2021', '26 Jan 2021', '28 Jan 2021', '29 Jan 2021',
       'xx Jan 2021', '1 Feb 2021', '8 Feb 2021', '9 Feb 2021',
       '10 Feb 2021', '13 Feb 2021', '14 Feb 2021', '15 Feb 2021',
       '18 Feb 2021', '20 Feb 2021', '21 Feb 2021', '26 Feb 2021',
       '28 Feb 2021', '1 Mar 2021', '2 Mar 2021', '4 Mar 2021',
       '7 Mar 2021', '10 Mar 2021', '12 Mar 2021', '13 Mar 2021',
       '15 Mar 2021', '16 Mar 2021', '18 Mar 2021', '19 Mar 2021',
       '20 Mar 2021', '23 Mar 2021', '25 Mar 2021', '26 Mar 2021',
       '28 Mar 2021', '2 Apr 2021', '3 Apr 2021', '8 Apr 2021',
       '9 Apr 2021', '14 Apr 2021', '15 Apr 2021', '16 Apr 2021',
       '18 Apr 2021', '20 Apr 2021', '26 Apr 2021', '1 May 2021',
       '5 May 2021', '6 May 2021', '10 May 2021', '12 May 2021',
       '13 May 2021', '19 May 2021', '20 May 2021', '21 May 2021',
       '28 May 2021', '29 May 2021', '30 May 2021', '2 Jun 2021',
       '3 Jun 2021', '4 Jun 2021', '5 Jun 2021', '7 Jun 2021',
       '10 Jun 2021', '13 Jun 2021', '14 Jun 2021', '16 Jun 2021',
       '18 Jun 2021', '19 Jun 2021', '21 Jun 2021', '23 Jun 2021',
       '24 Jun 2021', '25 Jun 2021', '29 Jun 2021', '1 Jul 2021',
       '2 Jul 2021', '4 Jul 2021', '5 Jul 2021', '6 Jul 2021',
       '7 Jul 2021', '8 Jul 2021', '11 Jul 2021', '14 Jul 2021',
       '15 Jul 2021', '16 Jul 2021', '17 Jul 2021', '18 Jul 2021',
       '20 Jul 2021', '21 Jul 2021', '22 Jul 2021', '25 Jul 2021',
       '26 Jul 2021', '27 Jul 2021', '31 Jul 2021', '3 Aug 2021',
       '9 Aug 2021', '11 Aug 2021', '12 Aug 2021', '14 Aug 2021',
       '16 Aug 2021', '17 Aug 2021', '21 Aug 2021', '23 Aug 2021',
       '24 Aug 2021', '25 Aug 2021', '26 Aug 2021', '27 Aug 2021',
       '1 Sep 2021', '2 Sep 2021', '3 Sep 2021', '4 Sep 2021',
       '12 Sep 2021', '14 Sep 2021', '15 Sep 2021', '17 Sep 2021',
       '20 Sep 2021', '22 Sep 2021', '23 Sep 2021', '25 Sep 2021',
       '27 Sep 2021', '28 Sep 2021', '29 Sep 2021', '1 Oct 2021',
       '5 Oct 2021', '8 Oct 2021', '10 Oct 2021', '13 Oct 2021',
       '14 Oct 2021', '15 Oct 2021', '18 Oct 2021', '19 Oct 2021',
       '22 Oct 2021', '23 Oct 2021', '25 Oct 2021', '29 Oct 2021',
       '30 Oct 2021', '1 Nov 2021', '2 Nov 2021', '3 Nov 2021',
       '5 Nov 2021', '6 Nov 2021', '13 Nov 2021', '14 Nov 2021',
       '21 Nov 2021', '25 Nov 2021', '28 Nov 2021', '29 Nov 2021',
       '1 Dec 2021', '5 Dec 2021', '10 Dec 2021', '11 Dec 2021',
       '12 Dec 2021', '14 Dec 2021', '15 Dec 2021', '17 Dec 2021',
       '20 Dec 2021', '21 Dec 2021', '23 Dec 2021', '25 Dec 2021',
       '27 Dec 2021', '28 Dec 2021', '30 Dec 2021', '31 Dec 2021',
       '1 Jan 2020', '2 Jan 2020', '3 Jan 2020', '4 Jan 2020',
       '5 Jan 2020', '8 Jan 2020', '9 Jan 2020', '10 Jan 2020',
       '12 Jan 2020', '13 Jan 2020', '16 Jan 2020', '19 Jan 2020',
       '20 Jan 2020', '23 Jan 2020', '24 Jan 2020', '27 Jan 2020',
       '28 Jan 2020', '30 Jan 2020', '31 Jan 2020', '1 Feb 2020',
       '2 Feb 2020', '3 Feb 2020', '4 Feb 2020', '5 Feb 2020',
       '6 Feb 2020', '7 Feb 2020', '8 Feb 2020', '9 Feb 2020',
       '12 Feb 2020', '14 Feb 2020', '15 Feb 2020', '20 Feb 2020',
       '21 Feb 2020', '23 Feb 2020', '24 Feb 2020', '25 Feb 2020',
       '26 Feb 2020', '27 Feb 2020', '28 Feb 2020', '29 Feb 2020',
       '3 Mar 2020', '5 Mar 2020', '6 Mar 2020', '8 Mar 2020',
       '9 Mar 2020', '12 Mar 2020', '13 Mar 2020', '14 Mar 2020',
       '17 Mar 2020', '19 Mar 2020', '21 Mar 2020', '22 Mar 2020',
       '28 Mar 2020', '29 Mar 2020', '5 Apr 2020', '12 Apr 2020',
       '16 Apr 2020', '19 Apr 2020', '20 Apr 2020', '23 Apr 2020',
       '24 Apr 2020', '28 Apr 2020', '2 May 2020', '4 May 2020',
       '5 May 2020', '7 May 2020', '8 May 2020', '9 May 2020',
       '16 May 2020', '19 May 2020', '21 May 2020', '22 May 2020',
       '26 May 2020', '28 May 2020', '30 May 2020', '8 Jun 2020',
       '9 Jun 2020', '13 Jun 2020', '14 Jun 2020', '15 Jun 2020',
       '16 Jun 2020', '19 Jun 2020', '28 Jun 2020', '2 Jul 2020',
       '5 Jul 2020', '7 Jul 2020', '9 Jul 2020', '10 Jul 2020',
       '13 Jul 2020', '14 Jul 2020', '15 Jul 2020', '17 Jul 2020',
       '19 Jul 2020', '20 Jul 2020', '22 Jul 2020', '23 Jul 2020',
       '25 Jul 2020', '26 Jul 2020', '28 Jul 2020', '30 Jul 2020',
       '1 Aug 2020', '3 Aug 2020', '4 Aug 2020', '7 Aug 2020',
       '8 Aug 2020', '9 Aug 2020', '10 Aug 2020', '12 Aug 2020',
       '13 Aug 2020', '16 Aug 2020', '18 Aug 2020', '19 Aug 2020',
       '20 Aug 2020', '22 Aug 2020', '27 Aug 2020', '28 Aug 2020',
       '29 Aug 2020', '4 Sep 2020', '7 Sep 2020', '11 Sep 2020',
       '15 Sep 2020', '16 Sep 2020', '18 Sep 2020', '19 Sep 2020',
       '21 Sep 2020', '22 Sep 2020', '23 Sep 2020', '25 Sep 2020',
       '27 Sep 2020', '28 Sep 2020', '29 Sep 2020', '30 Sep 2020',
       '4 Oct 2020', '5 Oct 2020', '6 Oct 2020', '10 Oct 2020',
       '14 Oct 2020', '16 Oct 2020', '21 Oct 2020', '22 Oct 2020',
       '23 Oct 2020', '24 Oct 2020', '29 Oct 2020', '30 Oct 2020',
       '31 Oct 2020', '1 Nov 2020', '5 Nov 2020', '9 Nov 2020',
       '11 Nov 2020', '12 Nov 2020', '13 Nov 2020', '15 Nov 2020',
       '16 Nov 2020', '23 Nov 2020', '26 Nov 2020', '28 Nov 2020',
       '30 Nov 2020', '1 Dec 2020', '2 Dec 2020', '5 Dec 2020',
       '9 Dec 2020', '10 Dec 2020', '13 Dec 2020', '16 Dec 2020',
       '19 Dec 2020', '20 Dec 2020', '22 Dec 2020', '23 Dec 2020',
       '30 Dec 2020', '7 Jan 2019', '12 Jan 2019', '14 Jan 2019',
       '16 Jan 2019', '18 Jan 2019', '21 Jan 2019', '22 Jan 2019',
       '23 Jan 2019', '26 Jan 2019', '28 Jan 2019', '29 Jan 2019',
       '30 Jan 2019', '3 Feb 2019', '4 Feb 2019', '5 Feb 2019',
       '8 Feb 2019', '9 Feb 2019', '11 Feb 2019', '13 Feb 2019',
       '17 Feb 2019', '23 Feb 2019', '24 Feb 2019', '25 Feb 2019',
       '26 Feb 2019', '27 Feb 2019', '28 Feb 2019', '2 Mar 2019',
       '3 Mar 2019', '4 Mar 2019', '7 Mar 2019', '9 Mar 2019',
       '10 Mar 2019', '11 Mar 2019', '12 Mar 2019', '14 Mar 2019',
       '18 Mar 2019', '19 Mar 2019', '21 Mar 2019', '22 Mar 2019',
       '23 Mar 2019', '27 Mar 2019', '3 Apr 2019', '4 Apr 2019',
       '8 Apr 2019', '10 Apr 2019', '11 Apr 2019', '13 Apr 2019',
       '14 Apr 2019', '16 Apr 2019', '22 Apr 2019', '23 Apr 2019',
       '24 Apr 2019', '30 Apr 2019', '2 May 2019', '3 May 2019',
       '4 May 2019', '5 May 2019', '7 May 2019', '8 May 2019',
       '10 May 2019', '11 May 2019', '12 May 2019', '13 May 2019',
       '18 May 2019', '22 May 2019', '24 May 2019', '25 May 2019',
       '28 May 2019', '29 May 2019', '3 Jun 2019', '7 Jun 2019',
       '9 Jun 2019', '11 Jun 2019', '13 Jun 2019', '15 Jun 2019',
       '17 Jun 2019', '18 Jun 2019', '20 Jun 2019', '21 Jun 2019',
       '23 Jun 2019', '24 Jun 2019', '26 Jun 2019', '27 Jun 2019',
       '28 Jun 2019', '29 Jun 2019', '30 Jun 2019', '1 Jul 2019',
       '8 Jul 2019', '9 Jul 2019', '10 Jul 2019', '12 Jul 2019',
       '13 Jul 2019', '16 Jul 2019', '17 Jul 2019', '19 Jul 2019',
       '20 Jul 2019', '22 Jul 2019', '23 Jul 2019', '24 Jul 2019',
       '25 Jul 2019', '26 Jul 2019', '27 Jul 2019', '30 Jul 2019',
       '31 Jul 2019', '1 Aug 2019', '2 Aug 2019', '4 Aug 2019',
       '5 Aug 2019', '6 Aug 2019', '7 Aug 2019', '8 Aug 2019',
       '10 Aug 2019', '12 Aug 2019', '14 Aug 2019', '15 Aug 2019',
       '16 Aug 2019', '18 Aug 2019', '21 Aug 2019', '22 Aug 2019',
       '23 Aug 2019', '25 Aug 2019', '26 Aug 2019', '27 Aug 2019',
       '28 Aug 2019', '30 Aug 2019', '31 Aug 2019', '1 Sep 2019',
       '2 Sep 2019', '5 Sep 2019', '6 Sep 2019', '7 Sep 2019',
       '9 Sep 2019', '11 Sep 2019', '16 Sep 2019', '18 Sep 2019',
       '20 Sep 2019', '23 Sep 2019', '24 Sep 2019', '30 Sep 2019',
       '1 Oct 2019', '2 Oct 2019', '4 Oct 2019', '7 Oct 2019',
       '10 Oct 2019', '11 Oct 2019', '12 Oct 2019', '16 Oct 2019',
       '17 Oct 2019', '18 Oct 2019', '22 Oct 2019', '25 Oct 2019',
       '26 Oct 2019', '27 Oct 2019', '29 Oct 2019', '31 Oct 2019',
       '3 Nov 2019', '5 Nov 2019', '11 Nov 2019', '14 Nov 2019',
       '15 Nov 2019', '16 Nov 2019', '21 Nov 2019', '22 Nov 2019',
       '23 Nov 2019', '24 Nov 2019', '25 Nov 2019', '26 Nov 2019',
       '1 Dec 2019', '2 Dec 2019', '3 Dec 2019', '4 Dec 2019',
       '6 Dec 2019', '9 Dec 2019', '10 Dec 2019', '15 Dec 2019',
       '16 Dec 2019', '17 Dec 2019', '18 Dec 2019', '19 Dec 2019',
       '21 Dec 2019', '22 Dec 2019', '24 Dec 2019', '25 Dec 2019',
       '27 Dec 2019', '28 Dec 2019', '29 Dec 2019', '1 Jan 2018',
       '3 Jan 2018', '4 Jan 2018', '5 Jan 2018', '6 Jan 2018',
       '7 Jan 2018', '9 Jan 2018', '10 Jan 2018', '13 Jan 2018',
       '15 Jan 2018', '16 Jan 2018', '17 Jan 2018', '18 Jan 2018',
       '20 Jan 2018', '25 Jan 2018', '29 Jan 2018', '1 Feb 2018',
       '4 Feb 2018', '10 Feb 2018', '11 Feb 2018', '13 Feb 2018',
       '16 Feb 2018', '18 Feb 2018', '20 Feb 2018', '21 Feb 2018',
       '23 Feb 2018', '24 Feb 2018', '26 Feb 2018', '28 Feb 2018',
       '1 Mar 2018', '4 Mar 2018', '6 Mar 2018', '10 Mar 2018',
       '11 Mar 2018', '12 Mar 2018', '14 Mar 2018', '15 Mar 2018',
       '16 Mar 2018', '17 Mar 2018', '20 Mar 2018', '21 Mar 2018',
       '22 Mar 2018', '23 Mar 2018', '26 Mar 2018', '27 Mar 2018',
       '28 Mar 2018', '29 Mar 2018', '30 Mar 2018', '31 Mar 2018',
       '2 Apr 2018', '4 Apr 2018', '5 Apr 2018', '9 Apr 2018',
       '11 Apr 2018', '12 Apr 2018', '13 Apr 2018', '14 Apr 2018',
       '15 Apr 2018', '16 Apr 2018', '17 Apr 2018', '18 Apr 2018',
       '20 Apr 2018', '23 Apr 2018', '29 Apr 2018', '30 Apr 2018',
       '1 May 2018', '2 May 2018', '3 May 2018', '4 May 2018',
       '5 May 2018', '7 May 2018', '12 May 2018', '13 May 2018',
       '15 May 2018', '16 May 2018', '18 May 2018', '20 May 2018',
       '21 May 2018', '22 May 2018', '23 May 2018', '24 May 2018',
       '30 May 2018', '3 Jun 2018', '5 Jun 2018', '6 Jun 2018',
       '9 Jun 2018', '10 Jun 2018', '11 Jun 2018', '12 Jun 2018',
       '14 Jun 2018', '16 Jun 2018', '18 Jun 2018', '21 Jun 2018',
       '22 Jun 2018', '24 Jun 2018', '25 Jun 2018', '26 Jun 2018',
       '27 Jun 2018', '30 Jun 2018', '4 Jul 2018', '5 Jul 2018',
       '6 Jul 2018', '9 Jul 2018', '10 Jul 2018', '11 Jul 2018',
       '16 Jul 2018', '20 Jul 2018', '21 Jul 2018', '22 Jul 2018',
       '23 Jul 2018', '26 Jul 2018', '27 Jul 2018', '28 Jul 2018',
       '30 Jul 2018', '31 Jul 2018', '1 Aug 2018', '3 Aug 2018',
       '4 Aug 2018', '5 Aug 2018', '6 Aug 2018', '7 Aug 2018',
       '9 Aug 2018', '10 Aug 2018', '13 Aug 2018', '15 Aug 2018',
       '16 Aug 2018', '19 Aug 2018', '24 Aug 2018', '25 Aug 2018',
       '26 Aug 2018', '27 Aug 2018', '28 Aug 2018', '30 Aug 2018',
       '31 Aug 2018', '1 Sep 2018', '3 Sep 2018', '6 Sep 2018',
       '9 Sep 2018', '10 Sep 2018', '15 Sep 2018', '16 Sep 2018',
       '17 Sep 2018', '18 Sep 2018', '20 Sep 2018', '23 Sep 2018',
       '24 Sep 2018', '25 Sep 2018', '26 Sep 2018', '27 Sep 2018',
       '28 Sep 2018', '1 Oct 2018', '3 Oct 2018', '8 Oct 2018',
       '9 Oct 2018', '10 Oct 2018', '11 Oct 2018', '12 Oct 2018',
       '15 Oct 2018', '29 Oct 2018', '31 Oct 2018', '7 Nov 2018',
       '8 Nov 2018', '9 Nov 2018', '11 Nov 2018', '12 Nov 2018',
       '15 Nov 2018', '16 Nov 2018', '20 Nov 2018', '21 Nov 2018',
       '22 Nov 2018', '23 Nov 2018', '24 Nov 2018', '26 Nov 2018',
       '30 Nov 2018', '1 Dec 2018', '3 Dec 2018', '4 Dec 2018',
       '6 Dec 2018', '8 Dec 2018', '10 Dec 2018', '11 Dec 2018',
       '15 Dec 2018', '18 Dec 2018', '20 Dec 2018', '22 Dec 2018',
       '24 Dec 2018', '31 Dec 2018', 'unk. date 2018'], dtype=object)

In [11]:
df['acc.date'] = pd.to_datetime(df['acc.date'], errors = 'coerce', dayfirst = True) 
#This converts the date column into a proper date format

In [12]:
df['acc.date'].info #This confirms that the data code above has worked and that the date column has been converted correctly.

<bound method Series.info of 0      2022-01-03
1      2022-01-04
2      2022-01-05
3      2022-01-08
4      2022-01-12
          ...
2495   2018-12-20
2496   2018-12-22
2497   2018-12-24
2498   2018-12-31
2499          NaT
Name: acc.date, Length: 2500, dtype: datetime64[ns]>

In [13]:
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,2022-01-03,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,2022-01-04,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,2022-01-05,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,2022-01-08,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,2022-01-12,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,2018-12-20,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,2018-12-22,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,2018-12-24,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,2018-12-31,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,NaT,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

In [14]:
df['type'].unique()

array(['British Aerospace 4121 Jetstream 41',
       'British Aerospace 3101 Jetstream 31', 'Boeing 737-4H6',
       'Tupolev Tu-204-100C', 'Beechcraft 200 Super King Air',
       'Airbus A320-214 (WL)', 'Cessna 208B Grand Caravan EX',
       'Airbus A320-232', 'Bombardier CL-600-2B16 Challenger 604',
       'Beechcraft B300 King Air 350', 'Hawker 1000',
       'Cessna 208B Grand Caravan', 'Embraer ERJ-190-100LR',
       'Antonov An-26', 'Cessna 501 Citation I/SP', 'Antonov An-2R',
       'Let L-410UVP-E3', 'ATR 42-500', 'Britten-Norman BN-2A-9 Islander',
       'Swearingen SA226-AT Merlin IV', 'Embraer EMB-500 Phenom 100E',
       'de Havilland Canada DHC-3T Texas Turbine Otter',
       'Raytheon Hawker 800XP', 'Antonov An-2', 'Antonov An-22A',
       'Antonov An-26-100', 'Antonov An-74T', 'Cessna 208B Supervan 900',
       'Antonov An-124-100', 'Antonov An-225',
       'Embraer ERJ 170-200 LR (ERJ-175LR)', 'Shaanxi Y-8Q',
       'Embraer EMB-500 Phenom 100', 'Boeing 737-8AS (WL)',
       'Dornier 228-101', 'Cessna 525B CitationJet CJ3',
       'Cessna 208 Caravan I', 'Honda HA-420 HondaJet',
       'Beechcraft 1900D', 'Cessna 208B Super Cargomaster',
       'Boeing 737-89P (WL)', 'Boeing 767-346ER',
       'Embraer EMB-110P2 Bandeirante', 'Learjet 75',
       'Boeing 757-27A (PCF)', 'Aero Modifications AMI DC-3-65TP',
       'Beechcraft A100 King Air',
       'Gulfstream American G-1159 Gulfstream II B',
       'Basler BT-67 Turbo 67', 'Fairchild SA227-DC Metro 23',
       'Embraer EMB-505 Phenom 300', 'Antonov An-26B-100',
       'Beechcraft 99A Airliner', 'Shorts 360-300', 'Boeing 737-82R (WL)',
       'Boeing 737-883 (WL)', 'Viking Air DHC-6 Twin Otter 400',
       'Airbus A319-115 (WL)', 'Embraer EMB-110P1 Bandeirante',
       'Boeing 737-7H4 (WL)', 'de Havilland Canada DHC-3T Turbine Otter',
       'Boeing 787-9 Dreamliner', 'Beechcraft B200 King Air',
       'de Havilland Canada DHC-6 Twin Otter 300',
       'Cessna 525 CitationJet', 'Shorts SC.7 Skyvan 3-200',
       'Bombardier BD-100-1A10 Challenger 300', 'Airbus A319',
       'Cessna 550 Citation II', 'Beechcraft B200 Super King Air',
       'Boeing 737-3M8 (QC)', 'Boeing 777-228ER', 'Airbus A330-202',
       'McDonnell Douglas MD-82', 'Learjet 55C', 'Antonov An-30M',
       'Fokker F-27 Friendship 500', 'Ilyushin Il-76MD',
       'de Havilland Canada DHC-8-402Q Dash 8', 'Cessna 208 Supervan 900',
       'Antonov An-12BK', 'Learjet 35A', 'Gulfstream G450',
       'Raytheon Beechjet 400A', 'Boeing 737-81D (WL)', 'Fokker 50',
       'Airbus A321-271NX', 'Cessna 680 Citation Sovereign',
       'Boeing 717-2BD', 'Airbus A320-214',
       'de Havilland Canada DHC-3T Vazar Turbine Otter',
       'CASA C-212 Aviocar 200', 'Boeing 737-86N (WL)', 'Boeing 777-FDZ',
       'Boeing 757-251 (WL)', 'IAI 1124 Westwind',
       'Cessna 560 Citation Encore', 'Antonov An-24B',
       'Boeing 737-824 (WL)', 'Beechcraft 99', 'Airbus A320-251N',
       'Shorts SC.7 Skyvan 3M-400', 'Airbus A220-100', 'Boeing 777-F1H',
       'Cessna 551 Citation II/SP', 'Cessna 750 Citation X', 'Learjet 36',
       'Cirrus SF50 Vision Jet', 'Antonov An-28',
       'Fairchild SA227-AC Metro III', 'Beechcraft 1900C-1',
       'Dassault Falcon 2000', 'British Aerospace 3201 Jetstream 32EP',
       'Britten Norman BN-2A-8 Islander', 'Rockwell Sabreliner 65',
       'Boeing 737-8HC (WL)', 'Boeing 737-436 (SF)',
       'Boeing 737-8V3 (WL)', 'Boeing 757-256 (WL)', 'Boeing 777-3B5ER',
       'Boeing 737-7CT (WL)', 'Boeing 737-8GJ (WL)',
       'Boeing 737-8Q3 (WL)', 'Embraer EMB-545 Legacy 450',
       'Britten-Norman BN-2A-21 Islander', 'Cirrus SF50 Vision Jet G2',
       'Beechcraft 99 Airliner', 'de Havilland Canada DHC-8-314 Dash 8',
       'Airbus A330-322', 'Canadair CL-215-6B11 (CL-415)',
       'Embraer EMB-110C Bandeirante', 'Airbus A319-132', 'Eclipse 550',
       'Let L-410UVP-E20', 'ATR 72-600 (72-212A)', 'Boeing 737-823 (WL)',
       'Boeing 737 MAX 8', 'Boeing B-17G Flying Fortress',
       'Fairchild SA227-AT Expediter', 'Airbus A320-271N',
       'Airbus A320-211', 'Boeing 737-4Q8 (SF)', 'Airbus A330-243',
       'Learjet 45', 'Embraer ERJ-175LR', 'British Aerospace BAe-146-200',
       'Boeing 767-322ER (WL)', 'Swearingen SA226-TC Metro II',
       'de Havilland Canada DHC-8-402QPF Dash 8',
       'Gulfstream GIV-X (G450)', 'Boeing 737-860 (WL)',
       'Boeing 737 MAX 8-200', 'Boeing 737-3Z0',
       'Canadair CL-600S Challenger 600',
       'Embraer ERJ-175LR (ERJ-170-200 LR)', 'Learjet 31A',
       'Cessna 560 Citation V', 'Boeing 737-524 (WL)', 'Harbin Y-12-II',
       'Boeing 777-31HER', 'Avro RJ85', 'Canadair CL-600 Challenger 600',
       'North American Rockwell Sabreliner 60', 'Harbin Y-12E',
       'Beechcraft 100 King Air', 'Boeing 747-8KZF',
       'Dassault Falcon 900EX EASy', 'Learjet 45XR', 'Antonov An-2T',
       'Douglas DC-3C', 'ATR 72-500 (72-212A)',
       'Beechcraft B300 King Air 350i', 'Let L-410UVP-E', 'Fokker 100',
       'Embraer EMB-120ER Brasilia', 'Boeing 777-223ER',
       'Bombardier CRJ-701ER', 'Boeing 737-4Y0', 'Saab 340AF', 'Embraer',
       'Embraer EMB-145LR', 'Boeing C-17A Globemaster III',
       'Cessna 525A CitationJet CJ2+', 'Beechcraft B99 Airliner',
       'Learjet 25B', 'Gulfstream G150', 'Beechcraft B200GT King Air 250',
       'Hawker 800', 'IAI 1125 Astra', 'Boeing 737-7H4', 'Boeing 767-38E',
       'Beechcraft 1900C', 'Boeing 737-8AL (WL)',
       'Boeing 787-8 Dreamliner', 'Gulfstream G280',
       'Lockheed L-100-30 Hercules', 'Airbus A321-231', 'Airbus A350-941',
       'Convair CV-580 Airtanker', 'Boeing 737-275C Adv.',
       'Lockheed C-130H Hercules', 'IAI 1124A Westwind II', 'ATR 42-320',
       'British Aerospace BAe-125-700A', 'Cessna 560XL Citation Excel',
       'de Havilland Canada DHC-8-106', 'Airbus A321-211',
       'Boeing 737-8JP (WL)', 'Bombardier CL-600-2B16 Challenger 605',
       'Airbus A300B4-622R (F)',
       'Gulfstream American G-1159A Gulfstream III',
       'McDonnell Douglas MD-11F', 'Shijiazhuang Y-5B(D)',
       'Britten-Norman BN-2A-III-2 Trislander',
       'Bombardier DHC-8-402Q Dash 8', 'Beriev Be-200ChS',
       'Ilyushin Il-112V', 'Gulfstream G-IV', 'Boeing 737-990ER',
       'Bombardier CRJ-900LR', 'Boeing 767-332ER (WL)',
       'Cessna 560XLS+ Citation XLS+', 'Raytheon 390 Premier I',
       'British Aerospace BAe-125', 'Canadair CRJ-200LR',
       'Antonov An-26KPA', 'Airbus A321-271N', 'Saab 340B',
       'Boeing 757-224 (WL)', 'Britten-Norman BN-2B-26 Islander',
       'Dassault Falcon 20C', 'Boeing 737-8H4 (WL)',
       'Bombardier BD-700-1A10 Global 6000', 'Rockwell Sabreliner 60',
       'McDonnell Douglas MD-87', 'Beechcraft 200 King Air',
       'Beechcraft Super King Air', 'Transall C-160NG', 'Gulfstream ?',
       'Gulfstream Aerospace G-1159A Gulfstream III',
       'Britten-Norman BN-2A-6 Islander', 'IAI 1125 Astra SP',
       'Bombardier BD-100-1A10 Challenger 350', 'Boeing 747-4B5F',
       'Cessna 510 Citation Mustang', 'Swearingen SA-226AT Merlin IV',
       'Gulfstream G-IVSP', 'Airbus A330-343', 'Embraer ERJ-170SE',
       'Airbus A330-303', 'Beechcraft 300 Super King Air',
       'IRMA/Pilatus Britten-Norman BN-2T Islander', 'Gulfstream G IV',
       'Antonov An-12A', 'Hawker 900XP', 'de Havilland Canada DHC-8-202Q',
       'Boeing 737-8KV (WL)', 'Lockheed C-130BZ Hercules',
       'Airbus A321-231 (WL)', 'Boeing 737-8Q8 (WL)', 'Airbus A380-861',
       'Boeing 767-232 (BDSF)', 'Cessna S550 Citation S/II',
       'Lockheed EC-130Q Hercules', 'Bombardier E-11A (Global Express)',
       'McDonnell Douglas MD-83', 'Boeing 737-6CT', 'Boeing 737-76N (WL)',
       'Boeing 747-412F (SCD)', 'Boeing 747-412 (BCF)',
       'Boeing 767-375ER', 'Boeing 737-86J (WL)', 'Boeing 737-8KN (WL)',
       'Boeing 737-301 (BDSF)', 'Learjet 55', 'Antonov An-2P',
       'Dassault Falcon 50', 'Airbus A300B4-203 (F)',
       'Dassault Falcon 7X', 'Cessna 525C Citation CJ4',
       'Cessna 525 CitationJet CJ1',
       'de Havilland Canada DHC-6 Vista Liner 300', 'Boeing 767-3Q8ER',
       'Boeing 757-223 (WL)', 'Hawker Siddeley HS-125-F400B',
       'Boeing 737-881 (WL)', 'British Aerospace BAe-125-800A',
       'Lockheed C-130J-30 Super Hercules', 'Learjet 25D',
       'Embraer EMB-120RT Brasilia', 'Hawker Siddeley HS-125',
       'Ilyushin Il-78', 'Learjet 60XR', 'Let L-410MA',
       'Beechcraft 400A Beechjet', 'Embraer C-95BM Bandeirante (EMB-110)',
       'de Havilland Canada DHC-6 Twin Otter 100', 'Dornier 228-212',
       'Lockheed C-130H3 Hercules', 'Beechcraft 300 Super King Air 350',
       'Grumman G-1159 Gulfstream II', 'Embraer ERJ-145EP',
       'Cessna 560XL Citation XLS', 'Grumman G-1159 Gulfstream II SP',
       'Airbus A319-111', 'Hawker 800XP',
       'Britten-Norman BN-2A-27 Islander', 'Boeing 737-8S3 (WL)',
       'de Havilland Canada DHC-8-402Q (PF) Dash 8', 'Boeing 777-F60',
       'Airbus A310-304', 'Boeing 737-3Z0 (SF)', 'Airbus A321-211 (WL)',
       'Antonov An-74TK-100', 'Boeing 737-8HG (WL)',
       'Canadair CL-215-1A10', 'Rockwell Sabreliner 75A',
       'Boeing 767-3S2FER', 'Antonov An-26B', 'Boeing 747SP-21',
       'Boeing 767-324ER', 'Dassault Falcon 200',
       'Gulfstream G200 Galaxy', 'Learjet', 'Learjet 35',
       'Antonov An-26Sh', 'Canadair CL-600-1A11 Challenger 600',
       'Lockheed KC-130J Hercules', 'Boeing 777-232ER', 'Hawker 850XP',
       'Boeing 737-4B6 (SF)', 'Douglas C-54E (DC-4)', 'Airbus A320-200',
       'Antonov An-32A', 'Learjet 60', 'Embraer ERJ-145LR',
       'Britten-Norman BN-2A-26 Islander',
       'Cessna AC-208B Combat Caravan', 'British Aerospace BAe-125-800B',
       'de Havilland Canada DHC-7-110', 'ATR 42-300', 'Boeing 737-529',
       'Shijiazhuang Y-5B', 'Eclipse 500', 'Cessna 525 Citation M2',
       'Canadair CL-600-2A12 Challenger 601', 'Boeing 707-3J9C',
       'Boeing 777-212ER', 'Boeing 737-8LJ (WL)',
       'de Havilland Canada DHC-8-102 Dash 8', 'Boeing 727-2B6 Adv. (F)',
       'Boeing 737-332', 'Airbus A321-251N', 'Convair C-131B Samaritan',
       'Embraer ERJ 190AR (ERJ-190-100 IGW)', 'Boeing 747-406M',
       'Boeing 737-832 (WL)', 'Boeing 767-375ER (BCF) (WL)',
       'Boeing 737-8E9 (WL)', 'de Havilland Canada EO-5C (DHC-7-102)',
       'Embraer ERJ-195LR (ERJ-190-200 LR)',
       'Bombardier BD-100 Challenger 350', 'Embraer EMB-145XR',
       'Douglas DC-3', 'Bombardier CL-600-2C10 Regional Jet CRJ-702ER',
       'Hawker Siddeley HS-125-600A',
       'de Havilland Canada CC-138 Twin Otter (DHC-6)',
       'Cessna 650 Citation III', 'McDonnell Douglas MD-88',
       'British Aerospace 4100 Jetstream 41', 'Boeing 737-924ER (WL)',
       'Bombardier BD-700-1A11 Global 5000',
       'Pilatus Britten-Norman BN-2B-27 Islander', 'Airbus A320-232 (WL)',
       'Boeing 737-33A (WL)', 'Boeing 737-73S (WL)',
       'Douglas C-47A-25-DK (DC-3C)', 'Boeing 737-81Q (WL)',
       'Canadair CL-600-2B16 Challenger 601-3A',
       'Sukhoi Superjet 100-95B', 'de Havilland Canada DHC-8-311 Dash 8',
       'Embraer ERJ-190LR', 'Boeing 737-9B5',
       'Gulfstream American G-1159 Gulfstream II SP', 'Antonov An-32',
       'Basler BT-67 Turbo 67 (DC-3T)', 'Hawker Siddeley HS-125-400',
       'British Aerospace 3212 Jetstream 31', 'Antonov An-24RV',
       'Saab 340A', 'Dassault Falcon 900B', 'Boeing 737-85R',
       'Boeing 737-8K2 (WL)', 'Boeing 757-324 (WL)',
       'Boeing 737-36N (WL)', 'Boeing 777-333ER', 'Ilyushin Il-76TD',
       'Cessna 208 Caravan 675', 'Airbus A319-114', 'unknown',
       'Bombardier CRJ-900ER', 'Douglas C-118A Liftmaster (DC-6A)',
       'Airbus A340-313', 'British Aerospace 3201 Jetstream 32',
       'HS-125/BAe-125', 'Canadair CL-600-2B16 Challenger 601',
       'de Havilland Canada DHC-6 Twin Otter 200',
       'Cessna 680A Citation Latitude', 'de Havilland Canada DHC-8-200',
       'Airbus A340-642', 'Lockheed C-130A Hercules',
       'Cessna 525 CitationJet CJ1+', 'Airbus A319-112', 'Convair CV-440',
       'Cessna 208 Caravan', 'Antonov An-72', 'ATR 42-600',
       'Bombardier Global Express', 'Saab 2000',
       'Airbus CC-150 Polaris (A310-300)',
       'Canadair CL-600-2B19 Regional Jet CRJ-200LR',
       'de Havilland Canada DHC-3T/M601 Turbine Otter', 'Airbus A330-341',
       'Let L-410UVP', 'Boeing 747-428ERF',
       'Embraer EMB-145LR (ERJ-145LR)', 'Bombardier CRJ-900',
       'Boeing 737-8F2 (WL)', 'Boeing 737-401', 'Boeing 737-800',
       'Dornier 228-201', 'Grumman American G-1159 Gulfstream IISP',
       'Embraer ERJ-140LR', 'Embraer ERJ-190AR',
       'Cessna 525A CitationJet CJ2', 'Boeing 737-7BD (WL)',
       'Airbus A319-131', 'Boeing 737-8FH (WL)', 'Boeing 737-8CT (WL)',
       'Boeing 777-369ER', 'Antonov An-2TP', 'Gulfstream G200',
       'Fairchild SA227-AT Merlin IVC',
       'British Aerospace BAe-748-347 Srs. 2A', 'IPTN/CASA CN-235M-100',
       'Convair CV-580F', 'Airbus A320', 'Shaanxi Y-8GX-3',
       'Antonov An-148-100B', 'Airbus A330-223', 'ATR 72-212',
       'Beechcraft B100 King Air', 'Airbus A330-323',
       'Boeing 737-322 (SF)', 'Learjet 31', 'Beechcraft C99 Commuter',
       'Canadair CL-600-2B19 Regional Jet CRJ-200ER', 'Gulfstream V',
       'Boeing 737-8K5 (WL)', 'CASA C-212 Aviocar', 'Boeing 737-76J (WL)',
       'Dassault Falcon 2000EX', 'Learjet 40XR', 'Lockheed P-3C Orion',
       'Antonov An-74-200', 'Cessna 550 Citation Bravo',
       'Airbus A321-213', 'Boeing 737-8GP (WL)',
       'Lockheed WC-130H Hercules', 'Dassault Falcon 900EX',
       'Embraer KC-390', 'Boeing 737-8BK (WL)', 'Boeing 737-201 Advanced',
       'Pilatus Britten-Norman BN-2B-26 Islander',
       'de Havilland Canada DHC-8-202Q Dash 8',
       'Embraer ERJ 170LR (ERJ-170-100 LR)', 'Boeing 777-346',
       'Ilyushin Il-76', 'Boeing 777-2B5ER',
       'IRMA/Pilatus Britten-Norman BN-2A-26 Islander', 'Dornier 228-202',
       'Convair CV-340', 'Boeing 737-8EH (WL)',
       'Curtiss C-46F-1-CU Commando', 'Douglas C-47B (DC-3)',
       'Boeing 757-204', 'Boeing 767-38EER',
       'IRMA/Britten-Norman BN-2A-27 Islander',
       'Britten-Norman BN-2A-8 Islander', 'Antonov An-2SX',
       'Boeing 757-223', 'Embraer ERJ 190AR', 'Junkers Ju-52/3mg4e',
       'Dassault Falcon 20D', 'Boeing 777-3F2ER', 'Boeing 777-367ER',
       'Boeing 737-85C (WL)', 'Boeing 757-2Q8 (WL)',
       'Grumman HU-16C Albatross', 'Boeing 767-333ER (WL)',
       'Boeing 777-328ER', 'Boeing 747-428FER', 'Ilyushin Il-20M',
       'Airbus A320-216', 'Boeing 747-4D7', 'ATR 72-202',
       'Boeing 737-7L9 (WL)', 'Boeing 777-337ER', 'Airbus A330-203',
       'Boeing 747-412F', 'Lockheed C-130E Hercules', 'Boeing 757-23N',
       'Embraer ERJ-190LR (ERJ-190-100 LR)',
       'Hawker Siddeley HS-125-700A',
       'de Havilland Canada DHC-8-315Q Dash 8',
       'British Aerospace 3212 Jetstream 32', 'Boeing 737-53C',
       'Bombardier CRJ-200LR', 'Lockheed Martin KC-130J',
       'Pilatus Britten-Norman BN-2A-20 Islander',
       'PZL-Mielec M28 Skytruck', 'Boeing 757-2B7 (WL)',
       'Rockwell Sabreliner 80'], dtype=object)

In [15]:
df['type'].str.lower() #Considering that the code is case sensitive, I have converted the data into lower case to ensure consistency

0       british aerospace 4121 jetstream 41
1       british aerospace 3101 jetstream 31
2                            boeing 737-4h6
3                       tupolev tu-204-100c
4             beechcraft 200 super king air
                       ...
2495                  cessna 560 citation v
2496                pzl-mielec m28 skytruck
2497                         antonov an-26b
2498                    boeing 757-2b7 (wl)
2499                 rockwell sabreliner 80
Name: type, Length: 2500, dtype: object

In [16]:
df['type'].str.strip() #This is to remove extra spaces in the data if any

0       British Aerospace 4121 Jetstream 41
1       British Aerospace 3101 Jetstream 31
2                            Boeing 737-4H6
3                       Tupolev Tu-204-100C
4             Beechcraft 200 Super King Air
                       ...
2495                  Cessna 560 Citation V
2496                PZL-Mielec M28 Skytruck
2497                         Antonov An-26B
2498                    Boeing 757-2B7 (WL)
2499                 Rockwell Sabreliner 80
Name: type, Length: 2500, dtype: object

Next we head to the 'fat' column which should represent fatalitiesand ensure that the data is in integer or float format

In [17]:
df['fat'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2500 entries, 0 to 2499
Series name: fat
Non-Null Count  Dtype
--------------  -----
2488 non-null   object
dtypes: object(1)
memory usage: 19.7+ KB

In [18]:
df['fat'].unique() #This is meant to find the unique values in the 'fat' column.

array(['0', '2', nan, '5', '14', '11', '132', '1', '22', '6', '4', '8',
       '0+2', '10', '3', '0+1', '19', '5+1', '62', '7', '12', '50+3',
       '28', '16', '9', '1+1', '18', '176', '97+1', '21', '26', '15',
       '157', '1+2', '13', '41', '1+5', '5+14', '21+6', '38', '71', '66',
       '39', '51', '257', '112', '20', '189'], dtype=object)

In [19]:
df['fat'].replace({'0+2':'2', '0+1':'1','5+1':'6','50+3':'53', '1+1':'2','97+1':'98','1+2':'3','1+5':'6','5+14':'19','21+6':'27'}, inplace = True)

#This is a code to replace the data that is displayed incorrectly in the 'fat' column to ensure that everything is in float/int format.

In [20]:
df['fat'].unique()

array(['0', '2', nan, '5', '14', '11', '132', '1', '22', '6', '4', '8',
       '10', '3', '19', '62', '7', '12', '53', '28', '16', '9', '18',
       '176', '98', '21', '26', '15', '157', '13', '41', '27', '38', '71',
       '66', '39', '51', '257', '112', '20', '189'], dtype=object)

In [21]:
df['fat'] = df['fat'].astype(float) #This is to convert the data in the 'fat'colum into float format.

In [22]:
df['fat'].info() #This is to see if the code above has worked correctly in converting the 'fat' column into float format.

<class 'pandas.core.series.Series'>
RangeIndex: 2500 entries, 0 to 2499
Series name: fat
Non-Null Count  Dtype
--------------  -----
2488 non-null   float64
dtypes: float64(1)
memory usage: 19.7 KB

In [23]:
 df['fat'].unique() #This is to show all the unique values that are there in the dataset

array([  0.,   2.,  nan,   5.,  14.,  11., 132.,   1.,  22.,   6.,   4.,
         8.,  10.,   3.,  19.,  62.,   7.,  12.,  53.,  28.,  16.,   9.,
        18., 176.,  98.,  21.,  26.,  15., 157.,  13.,  41.,  27.,  38.,
        71.,  66.,  39.,  51., 257., 112.,  20., 189.])

In [24]:
df['fat'].isna().sum() #This shows the extent of missing information in the dataset

12

In [25]:
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,2022-01-03,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0.0,near Venetia Mine Airport,sub
1,1,2022-01-04,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0.0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,2022-01-05,Boeing 737-4H6,EP-CAP,Caspian Airlines,0.0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,2022-01-08,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0.0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,2022-01-12,Beechcraft 200 Super King Air,NaN,private,0.0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,2018-12-20,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4.0,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,2018-12-22,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0.0,Kamarata Airport (KTV),sub
2497,1247,2018-12-24,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0.0,Beni Airport (BNC),w/o
2498,1248,2018-12-31,Boeing 757-2B7 (WL),N938UW,American Airlines,0.0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,NaT,Rockwell Sabreliner 80,N337KL,private,0.0,"Eugene Airport, OR (EUG)",sub

In [26]:
df['dmg'].unique() #This is meant to bring out the unique elements in the damages column. From the look of the data in this column is in good
                    #and cleaning here doesn't need to go any further at least as far as the formatting of data is concerned.

array(['sub', 'w/o', 'non', 'min', 'unk', 'mis'], dtype=object)

In [27]:
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,2022-01-03,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0.0,near Venetia Mine Airport,sub
1,1,2022-01-04,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0.0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,2022-01-05,Boeing 737-4H6,EP-CAP,Caspian Airlines,0.0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,2022-01-08,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0.0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,2022-01-12,Beechcraft 200 Super King Air,NaN,private,0.0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,2018-12-20,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4.0,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,2018-12-22,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0.0,Kamarata Airport (KTV),sub
2497,1247,2018-12-24,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0.0,Beni Airport (BNC),w/o
2498,1248,2018-12-31,Boeing 757-2B7 (WL),N938UW,American Airlines,0.0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,NaT,Rockwell Sabreliner 80,N337KL,private,0.0,"Eugene Airport, OR (EUG)",sub

The data when you make reference to the unnamed:0 column starts from index 0 to index 1249 then starts from 0 again all the way to index 1249. This is an indication that the data is repeated going downwards. For us to have the correct data, we have to drop the rows which start from index 1250 all the way to the bottom. This has been done below.

In [28]:
df= df.drop(df.loc[1250:2499].index)
df.info()

#The rows whichare a repetition have been dropned and now we have unique data to work with.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1250 non-null   int64
 1   acc.date    1247 non-null   datetime64[ns]
 2   type        1250 non-null   object
 3   reg         1204 non-null   object
 4   operator    1243 non-null   object
 5   fat         1244 non-null   float64
 6   location    1250 non-null   object
 7   dmg         1250 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 78.3+ KB

The unnamed 0 column is also not  relevant to the dataset as it's just made up of indices which are assigned by python automatically This column can be dropped and  this has been done below.

In [29]:
df.drop(columns='Unnamed: 0', inplace =True)

In [30]:
df

,acc.date,type,reg,operator,fat,location,dmg
0,2022-01-03,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0.0,near Venetia Mine Airport,sub
1,2022-01-04,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0.0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2022-01-05,Boeing 737-4H6,EP-CAP,Caspian Airlines,0.0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,2022-01-08,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0.0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,2022-01-12,Beechcraft 200 Super King Air,NaN,private,0.0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...
1245,2018-12-20,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4.0,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
1246,2018-12-22,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0.0,Kamarata Airport (KTV),sub
1247,2018-12-24,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0.0,Beni Airport (BNC),w/o
1248,2018-12-31,Boeing 757-2B7 (WL),N938UW,American Airlines,0.0,"Charlotte-Douglas International Airport, NC (C...",sub
1249,NaT,Rockwell Sabreliner 80,N337KL,private,0.0,"Eugene Airport, OR (EUG)",sub

In [31]:
df.isna().any()

acc.date     True
type        False
reg          True
operator     True
fat          True
location    False
dmg         False
dtype: bool

As of now, the 4 columns of acc.date, operator, registration number and fatalities have missing information. Next we will see the count of the missing
information and see what can be dropped before we have a final set of our dataset.

In [32]:
df.isna().sum()

acc.date     3
type         0
reg         46
operator     7
fat          6
location     0
dmg          0
dtype: int64

Based on the above information about missing values, the columns that are relevant to our analysis are the acc.date and fatalities column. This means that the rows with missing information in the other columns don't need to be dropped. Below, I will drop rows with missing information from the accident date and fatalities.

In [39]:
df = df.dropna(subset ='acc.date')

In [40]:
df = df.dropna(subset ='fat')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1241 entries, 0 to 1248
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   acc.date  1241 non-null   datetime64[ns]
 1   type      1241 non-null   object
 2   reg       1198 non-null   object
 3   operator  1234 non-null   object
 4   fat       1241 non-null   float64
 5   location  1241 non-null   object
 6   dmg       1241 non-null   object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 77.6+ KB

In [42]:
#Exporting cleaned data to a new csv file.
df.to_csv('cleaned_flight_data.csv')

4. DATA ANALYSIS

The data analysis has mainly been done in Tableau before heading to vizualization; and has been approached from the perspectives below and findings have also been specified.

4.1 ANALYSIS AND FINDINGS

1. I have looked at the number of accidents in the whole dataset from the perspective of each year. Leading to a conclusion that 2021 was the year with the least accidents while 2019 had the most accidents. This makes 2021 to be a good year from which management can make a decision from as the flights in 2021 con be considered to be the safest across the whole dataset.
2. I also looked at the aircraft types that had the least accidents in the dataset; and narrowed down to the bottom 5 as the company will most likely have to choose just one aircraft from the suggestions provided in the project. The findings have been presented in the accompanying vizualization.
3. I have also considered the aircrafts that have had the least fatalities even after having accidents and that promotes the ability of the aircraft to manouvre challenging occurences and end up preserving life. This was also narrowed down to the least 5 aircrafts in the dataset.
4. The data has also been looked at from the point of the aircrafts that have had the maximum accidents in the period covered. This will mainly show the stakeholders the spread between the spread between the least accidents and maximum accidents. This will show how much relevance the management's decision has in ensuring that the end goal of a low risk aircraft is.


These findings support the recommendations below as they are in line with ensuring that management makes the best decision in choosng the lowest risk aircraft for purchase. Low risk here has been looked from the persepective of least accidents, and least fatalities that an aircraft has caused.

 4.2 RECOMMENDATIONS

 1. I recommend management to look at 2021 as the year that will provide the best basis for a decision to be made as there were least accidents in this year meaning that the aircrafts in that year were the safest.
 2. I recommend that management use discretion in selecting the aircrafts that have had the least accidents. This is becasue the least 5 options found in the project has all had 1 accident in the period covered by the dataset. Management needs to consider other factors like cost, availability of spareparts, maintenance and running costs,a availability of expertise for maintenence  etc in making these decisions.
 3. The ability of an aircraft to preserve life even during the event that an accident has occured is going to be very essential in this decision. Hence they should put emphasis in the aircrafts that have had the least fatalities.All other factrs held constant.